extend layout
block vars
  - var bodyClass = 'two-col with-nav';
block content
    div(class="page-body")
        div(class="document-nav")
            !{menu}

        div(class="document-content")
            div(class="document-wrap")
                !{html}