.hint, .note {
    background: $note_bg
    position: relative
    margin: h(2) 0 h() h()
    padding: h() h() h() h(2)

    &:before {
        background: url('../images/sprite.png') no-repeat 0 0
        
        content: ""
        display: block
        position: absolute
        top: -12px
        left: -12px
        width: h()
        height: h()
        z-index: 2
    }

    &:after {
        background: $note_bg
        border-radius: 50%
        border: 8px solid #FFF

        content: ""
        display: block
        position: absolute
        top: -32px
        left: -32px
        width: h(2)
        height: h(2)
        z-index: 1
    }

    &:last-child {
        margin-bottom: 0;
    }

    h1, h2, h3, h4, h5, h6, p, li, dt, dl {
      code {
        background: $right_col_bg
      }
    }
}

.hint {
    &:before {
        background-position: 0 -50px
    }
}

.two-col {
    .right {
        .hint, .note {
            background: $note_bg

            &:after {
                background: $note_bg
                border-color: $right_col_bg
            }
        }
    }
}