.jsfiddle {
    border: 2px solid $right_col_border

    width: 100%
    height: 300px
}

.github-embed {
    border-right: 2px solid $right_col_border

    footer {
        background: $right_col_border
        line-height: h()
        text-align: right

        padding: 0 h(.5)
    }
}