
// Z-INDEX
// ---------------------------------------------

// Over 1000, over anything on the page (popup)
$z-header       = 300
$z-document-nav = 320
$z-page-nav     = 350


// TYPOGRAPHY
// ---------------------------------------------

// baseline
$base-font-size           = 16px;
$base-line-height         = 24px;

// font families
$f-serif                  = Georgia, 'Times New Roman', serif;
$f-sans                   = 'Dosis', Helvetica, Arial, sans-serif;
$f-heading                = 'Dosis', Helvetica, Arial, sans-serif;
$f-mono                   = 'Inconsolata', 'Lucida Console', Monaco, monospace;


// font size
$f-xsmall                 = 10px;
$f-small                  = 12px;
$f-medium                 = 14px;
$f-large                  = 16px;
$f-xlarge                 = 20px;
$f-xxlarge                = 24px;
