$main                       = #9DD33F
$main_dark                  = darken($main, 12%)


$right_col_bg               = #F2F9F3
$right_col_border           = #DCE7DC
$right_col_title            = #ACC4AC

$text                       = #636466
$title                      = #222
$link                       = $main_dark
$link_hover                 = $title

$text_bg                    = #D6EED8

$note_bg                    = #DCE7DD
$note_text_bg               = $nav_light

$rest_bg                    = $right_col_border
$rest_border                = darken($rest_bg, 8%)


// Page header
$head_bg                    = #466570
$head_border                = lighten(#466570, 12%)
$head_text                  = $main


// Left navigation
$nav_bg                     = $main
$nav_border                 = #72AC0C
$nav_hover                  = $main_dark
$nav_light                  = lighten($nav_bg, 8%)
$nav_link                   = $text
$nav_link_hover             = $text

$subnav                     = $nav_hover
$subnav_hover               = darken($subnav, 4%)
$subnav_link                = $text
$subnav_link_hover          = $text

$document_nav_link          = $main
$document_nav_link_hover    = $title


// Page footer
$foot_text                  = $nav_light
$foot_link                  = $foot_text
$foot_link_hover            = $main_dark