one-col() {
    .document-content {
        $padding = h(1.5)

        min-height: 100%
        max-width: 600px

        & > section {
            padding: $padding
        }

        & > section + section {
            border-top: 1px solid $right_col_border
        }

        section section {
            margin: $padding 0

            &:last-child {
                margin-bottom: 0
            }
        }

        .left, .full {
            margin: $padding 0

            &:first-child {
                margin-top: 0
            }

            &:last-child {
                margin-bottom: 0
            }
        }

        .anchor + .left, .anchor + .right {
            margin-top: 0
        }

        .right {
            margin: ($padding/-2) 0 $padding

            &:last-child {
                margin-bottom: 0
            }
        }

        pre code {
            background: $right_col_bg
        }
    }

    .anchor {
        float: left
        margin-top: h(-1.5)
    }
}


.one-col {
    one-col()
}